<style>
  h1 {color:#8C001A}
</style>

<div class="row">
  <div id="logo" class="small-12 large-7 columns" style="float:right;">
    <%= image_tag ('running_onion_color_big.png') %>
  </div>

  <h1 style="margin-top:1rem;margin-bottom:3rem;">For Chefs, by Chefs!</h1>

  <div class="small-12 large-5 columns">
    <ul class="art-preview" data-orbit
                            data-options="slide_number: false;
                                          timer_speed: 5000;">
      <li class="active" style="padding-left:3rem;margin-right:-2rem;">
          <%= image_tag("piu_logo.png", alt: "slide 1") %>
      </li>
      <li style="margin-right:-1rem;">
        <%= image_tag("running_onion_bw.png", alt: "slide 2") %>
      </li>
      <li style="padding-left:2rem; margin-right:-3rem;">
        <%= image_tag("ninja_logo.png", alt: "slide 3") %>
      </li>
      <li style="padding-left:3rem;margin-right:-2rem;">
        <%= image_tag("piu_logo_bw.png", alt: "slide 5") %>
      </li>
      <li style="padding-left:1rem;margin-right:-7rem;">
        <%= image_tag("behind_you.png", alt: "slide 4") %>
      </li>
    </ul>
  </div>

</div>

<div id="About" class="reveal-modal" data-reveal>
  <div style="float:right;"><%= image_tag('Johnny_boy.jpg') %></div>
  <h2>Pick It Up!</h2>
  <p class="lead">Hot T-Shirts for Cool Chefs!</p>
  <p>Pick It Up Clothing Co. was born out of the mind of Chef John Stuhlman, in
    St. Louis MO. With over 20 years of experience in professional kitchens, he
    knows the importance of a good quality t-shirt, whether its under your jacket,
    or running to the market. In whatever case you may be wearing a Pick It Up
    t-shirt, you'll be signalling to the world exactly the kind of turning &
    burning, pot & pan banging, razor sharp knife wielding Culinary Professional
    you are.</p><br/>
  <p>All images Copyright (c) 2014 Pick It Up Clothing Co. - All Rights Reserved<p>
  <a class="close-reveal-modal">&#215;</a>
</div>
