

<div class="row">
  <div id="logo" class="small-12 large-7 columns" style="float:right;">
    <%= image_tag ('running_onion_color_big.png') %>
  </div>

  <h1 style="margin-top:1rem;margin-bottom:3rem;">For Chefs, by Chefs!</h1>

  <div class="small-12 large-5 columns">
    <ul class="art-preview" data-orbit
                            data-options="slide_number: false;
                                          timer_speed: 5000;">
      <li class="active" style="padding-left:3rem;margin-right:-2rem;">
          <%= image_tag("piu_logo.png", alt: "slide 1") %>
      </li>
      <li style="margin-right:-1rem;">
        <%= image_tag("running_onion_bw.png", alt: "slide 2") %>
      </li>
      <li style="padding-left:2rem; margin-right:-3rem;">
        <%= image_tag("ninja_logo.png", alt: "slide 3") %>
      </li>
      <li style="padding-left:3rem;margin-right:-2rem;">
        <%= image_tag("piu_logo_bw.png", alt: "slide 5") %>
      </li>
      <li style="padding-left:1rem;margin-right:-7rem;">
        <%= image_tag("behind_you.png", alt: "slide 4") %>
      </li>
    </ul>
  </div>

</div>
