
<h1>Check back often to see our new designs!</h1>
<ul class="small-block-grid-2 large-block-grid-3" data-equalizer>
  <li data-equalizer-watch><%= image_tag ("piu_logo.png") %></li>
  <li data-equalizer-watch><%= image_tag ("running_onion_bw.png") %></li>
  <li data-equalizer-watch><%= image_tag ("ninja_logo.png") %></li>
  <li data-equalizer-watch><%= image_tag ("piu_logo_bw.png") %></li>
  <li data-equalizer-watch><%= image_tag ("behind_you.png") %></li>
</ul>
