<%# navigation styled for Zurb Foundation 5 %>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section" style="margin-top:0px;">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#" data-reveal-id="about">About</a></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><a href="#" data-reveal-id="contact">Contact Us</a></li>
      <li><a href="https://www.facebook.com/pages/Pick-It-Up-Clothing-Company/365220130279421" target="blank"> <%= image_tag ('facebook_icon.png')%></a></li>
      <li><a href="http://eric-david-epperson.herokuapp.com/construction.html">Sign In</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    </ul>
  </section>
</nav>

<style>
  h1 {color:#8C001A}
  @media (max-width:500px) {#johnny-boy{display:none;}}
</style>

<div id="about" class="reveal-modal" data-reveal>
  <div style="float:right;" id="johnny-boy.png">
    <a href="#" data-reveal-id="egg"><%= image_tag('johnny_working.png') %></a>
  </div>
  <h2>Pick It Up!</h2>
  <p>Pick It Up Clothing Co. was born out of the mind of Chef John Stuhlman, in
    St. Louis MO. With over 20 years of experience in professional kitchens, he
    knows the importance of a good quality t-shirt, whether it's under your jacket,
    or running to the market. In whatever case you may be wearing a Pick It Up
    t-shirt, you'll be signalling to the world exactly the kind of turning &
    burning, pot & pan banging, razor-sharp-knife wielding Culinary Professional
    you are.</p><br/>
  <p>All images Copyright (c) 2014 Pick It Up Clothing Co. - All Rights Reserved<p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="contact" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <div class="small-12 large-5 columns">
    <h3>Email:</h3>
    <a href="mailto:pickitupclothing@yahoo.com">pickitupclothing@yahoo.com</a><br/>
    <h3>Like us on Facebook:
    <a href="https://www.facebook.com/pages/Pick-It-Up-Clothing-Company/365220130279421" target="blank" >
      <%= image_tag("facebook_icon.png")%>
    </a></h3>
    <h3>Address:</h3>
    <h4>Pick It Up Clothing Company</h4>
    2530 Annalee Brentwood MO 63144 US
  </div>
  <div class="small-12 large-5 columns" id="form">
    <%= render partial: 'contact_forms/form' %>
  </div>
</div>

<div id="egg" class="reveal-modal" data-reveal>
  <div style="float:left">
    <%= image_tag('Johnny_boy.jpg') %>
  </div>
  Here's another picture of Chef John being silly and posing for us. Don't tell him
  we put this picture here, let's see if he can find it himself!
  <a class="close-reveal-modal">&#215;</a>
</div>
